<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/jpg" href="./images/blood-icon.png"/>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <%- include('header') %>
        <div class="content-ejs">
            <%- include(status); %>
        </div>
        <%- include('footer') %>
        </body>
    </body>
</html>