<div class="status-box">
    <img src="./images/error.png">
    <h3>Registration failed!</h3>
    <p>Server error: <%= code %></p>      
    <a href="/">
        <input type="submit" value="Go back">
    </a>
</div>


