<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/jpg" href="./images/blood-icon.png"/>
        <link rel="stylesheet" href="./styles/style.css">
    </head>
    <body>
        <%- include('header') %>
        <div class="content">
            <div class="register-card">
                <h3>Register as a Donor</h3>
                <form action="/new-donor" id="register-form" method="post">
                    <input name="name" placeholder="Full name" autocomplete=”off” required>
                    <input name="mobile" type="number" placeholder="Mobile number" autocomplete=”off” required>
                    <select name="bloodgroup" class="input-group" required>
                        <option value="" selected disabled>Blood group</option>
                        <option value="Apos">A+</option>
                        <option value="Aneg">A-</option>
                        <option value="Bpos">B+</option>
                        <option value="Bneg">B-</option>
                        <option value="Opos">O+</option>
                        <option value="Oneg">O-</option>
                        <option value="ABpos">AB+</option>
                        <option value="ABneg">AB-</option>
                    </select>
                    <input name="city" class="input-group" placeholder="City" list="cities" onchange="cityVal(this)" autocomplete=”off” required>
                    <label for="dob">Birthday</label>
                    <input name="dob" id="dob" class="input-group" type="date" placeholder="Age 18-65" autocomplete=”off” required>
                    <input type="submit" value="Register">
                </form>
            </div>
            <div class="quotes">
                <div class="quote">
                    <img src="./images/blood-icon.png">
                    <p>You can donate blood every 3 months</p>
                </div>
                <div class="quote">
                    <img src="./images/blood-icon.png">
                    <p>It takes just 15 minutes and saves lives</p>
                </div>
                <div class="quote">
                    <img src="./images/blood-icon.png">
                    <p>You have 5-6 ltrs of blood in you</p>
                </div>
            </div>
            <div class="find-card">
                <h3>Find Donor</h3>
                <form action="/find-donor" id="find-form" method="post">
                    <input name="city" placeholder="City" list="cities" onchange="cityVal(this)" autocomplete=”off” required>
                    <select name="bloodgroup" required>
                        <option value="" selected disabled>Blood group</option>
                        <option value="Apos">A+</option>
                        <option value="Aneg">A-</option>
                        <option value="Bpos">B+</option>
                        <option value="Bneg">B-</option>
                        <option value="Opos">O+</option>
                        <option value="Oneg">O-</option>
                        <option value="ABpos">AB+</option>
                        <option value="ABneg">AB-</option>
                    </select>
                    <p>We only support cities and towns
                        in Rajasthan for now</p>
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
        <datalist id="cities">
            <%- include('datalist') %>
        </datalist>
        <%- include('footer') %>
        </body>
    </body>
    <script src="./scripts/script.js"></script>
</html>