<div class="status-box">
    <img src="./images/add-user.png">
    <h3>Donor registered<br>successfully!</h3>
    <p>Donor: <%= name %><br>Mobile: <%= mobile %></p> 
    <a href="/">
        <input type="submit" value="Go back">
    </a>
</div>