@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFF8F9;
}

h3 {
    margin-top: 0;
    margin-bottom: 1.5em;
}

img {
    align-self: center;
}

header {
    background-color: white;
    justify-content: center;
    display: flex;
}

.header {
    display: flex;
    padding: 10px;
}
.header h1 {
    font-size: 1.5em;
    margin-left: 10px;
    color: #FF4949;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    margin: 30px 15%;
}

.find-card, .register-card, .quote {
    margin: 20px 10px;
    margin-bottom: 30px;
    padding: 20px 20px;
    background-color: white;
    border-radius: 20px;
    transition: all .2s ease-in-out; /* Not working on img inside quote, thus added seperately */
}

.find-card, .register-card {
    text-align: center;
    width: 30%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.find-card:hover, .register-card:hover {
    transform: scale(1.1);
}

.quotes {
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
}

/* @media screen and (max-width: 1100px) {
    .content {
        margin: 30px 15%;
    }
} */

@media screen and (max-width: 620px) {
    .find-card, .register-card {
        width: 80%;
    }
    .quotes {
        order: 1;
        width: 80%;
    }
    .content {
        margin: 30px 5%;
    }
}

.find-card p {
    color: #A1A1A1;
    font-size: 0.75em;
}

.quote img {
    width: 2em;
    transition: all .2s ease-in-out;
}

.quote:hover img {
    transform: scale(1.2);
}

input, select {
    width: 90%;
    background-color: #FFF1F4;
    padding: 5px 15px;
    margin: 5px 0;
    border: none;
    border-radius: 20px;
    font-size: 0.8em;
}

/* Removing the arrow buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}


[type="submit"] {
    background-color: #FF4949;
    color: white;
    margin: 30px 0;
    font-weight: 500;
}
[type="submit"]:hover {
    background-color: #FF3030;
}

.input-group {
    width: 45%;
}


/***  Styles for partials and ejs  ***/

.content-ejs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20vh 15%;
}

.status-box {
    margin: 20px 10px;
    padding: 20px 20px;
    background-color: white;
    border-radius: 20px;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.status-box img {
    width: 2em;
    margin: 10px 0;
    transform: scale(1.2);
}